.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    
}
.logo{
    width: 200px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;


}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

}

.nav-connect{
    padding: 10px 40px;
    border-radius: 50px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}
.line{
    display: flex;
    margin: auto;
    width: 20px;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
   

}
.nav-mob-open{
    display: none;
   
}
/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .navbar {
        margin: 10px 20px;
    }

    .logo {
        width: 150px;
    }

    .nav-menu {
        display: none;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        width: 40px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 20px;
        left: 240px;
        width: 25px;
    }

    .nav-menu.active {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 20px;
        background-color: #1F0016;
        width: 280px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: 0;
    }

    .nav-menu li {
        font-size: 24px;
        padding-left: 40px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar {
        margin: 20px 50px;
    }

    .logo {
        width: 180px;
    }

    .nav-menu.active {
        width: 350px;
    }

    .nav-menu li {
        font-size: 28px;
        padding-left: 60px;
    }

    .nav-mob-open, .nav-mob-close {
        width: 45px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar {
        margin: 0px 80px;
    }

    .logo {
        width: 200px;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: 18px;
    }

    .nav-connect {
        display: block;
        padding: 10px 30px;
        font-size: 20px;
    }

    .nav-mob-open, .nav-mob-close {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar {
        margin: 0px 100px;
    }

    .nav-menu {
        gap: 50px;
        font-size: 20px;
    }

    .nav-connect {
        padding: 10px 40px;
        font-size: 22px;
    }
}

